<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359484043976-5shii9tu0tcaqbhcb15cbo0moj2qje38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359484043976-5shii9tu0tcaqbhcb15cbo0moj2qje38</string>
	<key>API_KEY</key>
	<string>AIzaSyAYbmJ-v0EYRGUAnpBkFw3UH8zfA7UmUKE</string>
	<key>GCM_SENDER_ID</key>
	<string>359484043976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.zympl.leeway</string>
	<key>PROJECT_ID</key>
	<string>zympl-leeway</string>
	<key>STORAGE_BUCKET</key>
	<string>zympl-leeway.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359484043976:ios:a5e6f92a3f375510f22bfd</string>
</dict>
</plist>